/* =============== General Style =============== */

body {
  font-family: "Montserrat", sans-serif;
  margin-top: 60px;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
}

/* =============== Header/Navbar Session =============== */

.nav-item a {
  color: white;
}

.nav-background {
  background-color: #f06;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding-right: 8px;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #ff9800;
}

.navbar-nav .nav-link.active {
  color: #ffba08;
}

/* ########### Home Section ########### */

.hero-section {
  height: 100vh;
  background: linear-gradient(135deg, #f06, #ffba08);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.img_box {
  border: 5px solid #f06;
  border-radius: 50%;
}

.profile-img {
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  border: 10px solid white;
  transition: transform 0.6s ease-in-out;
}

.profile-img.animate {
  opacity: 0;
  transform: scale(0.5);
}

.profile-img.animate.visible {
  opacity: 1;
  transform: scale(1);
}

/*=============== About Section ===============*/

.text-color {
  color: #ff9800;
}

.text-span {
  color: #f06;
  font-size: 20px;
}

/*=============== Profile link ===============*/

.profile__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  column-gap: 0.8rem;
}

.profile__social-link {
  font-size: 1.4rem;
  color: var(--title-color);
  transition: 0.3s;
}

.profile__social-link:hover {
  color: #f06;
}

/*=============== CV download BUTTON ===============*/

.btn-download {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #f06;
  color: whitesmoke;
}

.btn-download a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.btn-download:hover {
  border: 2px solid #f06;
  background-color: #f06;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

/* =============== Project Section =============== */

.project-btn {
  border: 1px solid #ff9800;
  border-radius: 8px;
  color: #ff9800;
  transition: 0.3s;
  font-size: 15px;
}

.project-view-btn {
  border: 1px solid #f06;
  color: #f06;
}

.project-btn:hover {
  background-color: #ff9800;
  color: white;
}

.project-view-btn:hover {
  color: white;
}

.card img {
  height: 200px;
  object-fit: cover;
}

/* =============== General Card  =============== */

.card {
  min-height: 100%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* =============== Skills Section =============== */
.skills {
  background-color: #f06;
  border-radius: 8px;
}
.skills-list {
  padding-left: 0;
  list-style: none;
}
.skills-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.skills-list li i {
  margin-right: 10px;
  color: #4caf50;
}

/* =============== Contact Section =============== */

.contact-btn {
  border: 1px solid #f06;
  color: #f06;
}

.contact-btn:hover {
  background-color: #f06;
  color: #fff;
}

/* =============== Footer Section =============== */

.footer {
  background: linear-gradient(135deg, #f06, #ffba08);
}
.peacecode {
  font-size: 1.5rem;
  color: var(--title-color);
  transition: 0.3s;
}

.peacecode:hover {
  color: #f06;
}

/* =============== Animate Styling =============== */
.animate {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.animate.visible {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-bottom {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.zoom-in.visible {
  opacity: 1;
  transform: scale(1);
}

/* =============== Responsive Styles =============== */

@media (max-width: 768px) {
  body {
    margin-top: 55px;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .img_box {
    height: 250px;
    width: 250px;
    overflow: hidden;
    justify-self: center;
    align-self: first center;
  }

  .profile-img {
    max-width: 100%;
    border: 8px solid white;
  }
  .nav-link {
    font-size: 0.9rem;
  }

  .hero-section {
    padding: 0;
  }

  .profile-img {
    max-width: 250px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .img_box {
    height: 200px;
    width: 200px;
    overflow: hidden;
    justify-self: center;
    align-self: first center;
  }

  .profile-img {
    max-width: 100%;
    border: 8px solid white;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .peacecode {
    font-size: 1.4rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }

  .btn-download {
    margin-bottom: 3ch;
  }
}
